@import 'view-ui-plus/src/styles/index.less';

@primary-color          : #ff7782;
@info-color             : #ff7782;
@success-color          : #19be6b;
@processing-color       : @primary-color;
@warning-color          : #ff9900;
@error-color            : #ed4014;
@error-hover-color      : color(~`colorPalette('@{error-color}', 5) `);
@error-active-color     : color(~`colorPalette('@{error-color}', 7) `);
@normal-color           : #e6ebf1;
@link-color             : #ff7782;
@link-hover-color       : tint(@link-color, 20%);
@link-active-color      : shade(@link-color, 5%);
@selected-color         : fade(@primary-color, 90%);
@tooltip-color          : #fff;
@subsidiary-color       : #808695;
@rate-star-color        : #f5a623;
@white: #fff;
@black: #000;

@v-color:#ff7782;
@v-bg:#eff3fa;
@v-bg-left:#e8e9e9;
@v-bg-title:#484952;
@v-bg-title-hover:#484952;
@v-bg-left-box:#ffffff;
// linear-gradient(to right, rgba(255, 119, 130,1), rgba(255, 221, 225,0.2)); 
@v-bg-left-box-hover:#f2f3f3; 

@v-title:#484952;

@v-buten:#a070ff;

@v-content-title:#c4c4cc;
@v-content-bg-d:#292a3c;
@v-content-bg-u:#20202f;
@v-content-bg:#191927;

@v-list-bg:#242332;
